<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
   <head>
       <title>Altavilla</title>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "blog/css/style.css" %}"">
    </head>  
    <body>


<br>
<br>



<br>

<ul id="menu_horizontal">
	<li class="bouton_gauche"><a href="accueil.php">Accueil</a></li>
	<li class="bouton_gauche"><a href="news.php">News</a></li>
	<li class="bouton_gauche"><a href="livreor.php">Les Concerts</a></li>
	<li class="bouton_gauche"><a href="admin.php">Le Groupe</a></li>
	<li class="bouton_gauche"><a href="contact.php">Contact</a></li>
</ul>



<br>
{% if article_list %}
<div align="center">	

	{% for article in article_list %}
				
		<h2>{{article.title}}</h2>
		
		{% if article.upload %}		
		<img src="{{ article.upload.url }}"  height="{{ article.height }}%" width="{{ article.width }}%" alt="{{ article.upload}}"/>		
		{% endif %}

		{% if article.description %}
		<article>{{article.description}}</article>
		{% endif %}

		{% if article.video_code %}
		<iframe width="200" height="100" src="//www.youtube.com/embed/{{ article.video_code }}" frameborder="0" allowfullscreen></iframe>
				
		{% endif %}
		<p><b>Publie le :</b> {{article.creation_date}}</p> 
		=========================================================================
	{% endfor %}
	
</div>
<div>

</div>
{% endif %}


 <script type="text/javascript">
<!-- Debut
// JavaScript pris sur le site: "http://www.java.scripts-fr.com"

if (document.body)
{
var larg = (document.body.clientWidth);
var haut = (document.body.clientHeight);
} 
else
{
var larg = (window.innerWidth);
var haut = (window.innerHeight);
}

document.write("Cette fenre fait " + larg + " de large et "+haut+" de haut"); 
</script>



    </body>
</html>
